<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <h3>Iskanje</h3>
  </div>
</div>

<form class="form-horizontal" ng-submit="submit()">

  <!-- IME -->
  <div class="form-group">
    <label for="avtor" class="col-sm-2 control-label">Avtor:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="avtor" placeholder="Avtor" ng-model="avtor">
    </div>
  </div>
  
  <!-- NAZIV -->
  <div class="form-group">
    <label for="naziv" class="col-sm-2 control-label">Naziv:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="naziv" placeholder="Naziv" ng-model="naziv">
    </div>
  </div>
  
  <!-- OPIS -->
  <div class="form-group">
    <label for="opis" class="col-sm-2 control-label">Opis:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="opis" placeholder="Opis" ng-model="opis">
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="btn-group">
	<input class="btn btn-primary" type="submit" value="Išči">
	<button class="btn btn-default" ng-click="clear()" type="button">Počisti</button>
      </div>
    </div>
  </div>

</form>

<table class="table table-hover" ng-if="books">
  <tr>
    <th style="width:20px">#</th>
    <th>Avtor</th>
    <th>Naziv</th>
  </tr>
  <tr ng-repeat="book in books">
    <td><a href="#/knjiga/{{book.id}}">{{book.id}}</a></td>
    <td><a href="#/knjiga/{{book.id}}">{{book.avtor}}</a></td>
    <td><a href="#/knjiga/{{book.id}}">{{book.naziv}}</a></td>
  </tr>
</table>
<br>
