<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <h3>{{stran}}</h3>
  </div>
</div>

<form class="form-horizontal" ng-submit="submit()">

  <!-- NAZIV -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Naziv:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{naziv}}</p>
    </div>
  </div>

  <!-- AVTOR -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Avtor:</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{avtor}}</p>
    </div>
  </div>


  <!-- IME -->
  <div class="form-group">
    <label for="ime" class="col-sm-2 control-label">Ime:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="ime" ng-required="true">
    </div>
  </div>
  
  <!-- PRIIMEK -->
  <div class="form-group">
    <label for="priimek" class="col-sm-2 control-label">Priimek:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="priimek" placeholder="Priimek" ng-model="priimek" ng-required="true">
    </div>
  </div>
  
  <!-- IZPOSOJA -->
  <div class="form-group">
    <label for="datumIzposoje" class="col-sm-2 control-label">Datum izposoje:</label>
    <div class="col-sm-10">
      <input id="datumIzposoje" type="text" class="form-control" uib-datepicker-popup ng-model="dtIz" is-open="dateIz.opened" ng-required="true" clear-text="Zbriši" current-text="Danes" close-text="Zapri" ng-click="openDate(0)"/>
    </div>
  </div>

  <!-- NACRTOVANO VRACILO -->
  <div class="form-group">
    <label for="datumNacrt" class="col-sm-2 control-label">Načrtovano vračilo:</label>
    <div class="col-sm-10">
      <input id="datumNacrt" type="text" class="form-control" uib-datepicker-popup ng-model="dtNa" is-open="dateNa.opened" ng-required="true" clear-text="Zbriši" current-text="Danes" close-text="Zapri" ng-click="openDate(1)"/>
    </div>
  </div>

  <!-- DEJANSKO VRACILO -->
  <div class="form-group">
    <label for="datunDej" class="col-sm-2 control-label">Dejansko vračilo:</label>
    <div class="col-sm-10">
      <input id="datumDej" type="text" class="form-control" uib-datepicker-popup ng-model="dtDe" is-open="dateDe.opened" clear-text="Zbriši" current-text="Danes" close-text="Zapri" ng-click="openDate(2)"/>
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="btn-group">
	<input class="btn btn-primary" type="submit" value="Shrani">
	<button class="btn btn-default" type="button" ng-click="delete()">Zbriši</button>
	<a class="btn btn-default" href="#/knjiga/{{id}}">Prekliči</a>
      </div>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    {{msg}}
  </div>
</div>
