<h2>{{naziv}}</h2>
<div class="row">
  <div class="col-sm-2">Avtor:</div>
  <div class="col-sm-10">{{avtor}}</div>
</div>
<div class="row">
  <div class="col-sm-2">Opis:</div>
  <div class="col-sm-10">{{opis}}</div>
</div>
<div class="row">
  <div class="col-sm-2">Trenutno:</div>
  <div class="col-sm-10">{{status}}</div>
</div>
<br>

<div class="row">
  <div class="col-sm-10">
    <div class="btn-group">
      <a href="#/knjiga/{{id}}/izposoja" class="btn btn-primary">Izposoja</a>
      <a href="#/knjiga/{{id}}/edit" class="btn btn-default">Uredi</a>
      <button class="btn btn-default" ng-click="delete()">Zbriši</button>
    </div>
  </div>
</div>

<h3>Izposoje</h3>
<table class="table table-hover">
  <tr>
    <th style="width:20px">#</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Datum izposoje</th>
  </tr>
  <tr ng-repeat="izposoja in izposoje">
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.id}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.ime}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.priimek}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.datum | limitTo:10}}</a></td>
    <tr>
</table>
