<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <h3>{{stran}}</h3>
  </div>
</div>

<form class="form-horizontal" ng-submit="submit()">

  <!-- IME -->
  <div class="form-group">
    <label for="avtor" class="col-sm-2 control-label">Avtor:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="avtor" placeholder="Avtor" ng-model="avtor" ng-required="true">
    </div>
  </div>
  
  <!-- NAZIV -->
  <div class="form-group">
    <label for="naziv" class="col-sm-2 control-label">Naziv:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="naziv" placeholder="Naziv" ng-model="naziv" ng-required="true">
    </div>
  </div>
  
  <!-- OPIS -->
  <div class="form-group">
    <label for="opis" class="col-sm-2 control-label">Opis:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="opis" rows="5" ng-model="opis"></textarea>
    </div>
  </div>

  <!-- SUBMIT -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="btn-group">
	<input class="btn btn-primary" type="submit" value="Shrani">
	<a href="{{preklici}}" class="btn btn-default">Prekliči</a>
      </div>
    </div>
  </div>

</form>
<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    {{ msg }}
  </div>
</div>
