<h3>Seznam knjig</h3>
<table class="table table-hover">
  <tr>
    <th style="width:20px">#</th>
    <th>Avtor</th>
    <th>Naziv</th>
  </tr>
  <tr ng-repeat="book in books">
    <td><a href="#/knjiga/{{book.id}}">{{book.id}}</a></td>
    <td><a href="#/knjiga/{{book.id}}">{{book.avtor}}</a></td>
    <td><a href="#/knjiga/{{book.id}}">{{book.naziv}}</a></td>
  </tr>
</table>
<br>
