<h3>Seznam izposoj</h3>
<table class="table table-hover">
  <tr>
    <th style="width:20px">#</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>Naslov knjige</th>
  </tr>
  <tr ng-repeat="izposoja in izposoje">
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.id}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.ime}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.priimek}}</a></td>
    <td><a href="#/izposoja/{{izposoja.id}}">{{izposoja.naziv}}</a></td>
  </tr>
</table>
<br>
