<ion-view view-title="Išči">
  <ion-content padding="true">

    <ion-list type="card">
      <div class="item item-input">
        <input type="text" placeholder="Naziv" ng-model="fields.naziv">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="Avtor" ng-model="fields.avtor">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="Opis" ng-model="fields.opis">
      </div>
    </ion-list>

    <button class="button button-block" ng-click="submit()">
      Išči
    </button>
    <button class="button button-block" ng-click="clear()">
      Zbriši
    </button>

    <div style="text-align:center">
      <ion-spinner ng-hide="spinnerHidden"></ion-spinner>
    </div>

    <div style="text-align:center">
      {{ message }}
    </div>
    
    <ion-list type="card"  ng-if="knjige != []">
      <ion-item ng-repeat="knjiga in knjige" ng-href="#/app/knjiga/{{knjiga.id}}">
        <h2>{{knjiga.naziv}}</h2>
        <div class="item-text-wrap">
          {{knjiga.avtor}}
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
