<ion-view view-title="Izposoje knjig">
  <ion-content>

    <ion-refresher
      pulling-text="Posodobi..."
      on-refresh="refresh()">
    </ion-refresher>

    <div style="text-align:center">
      <ion-spinner ng-hide="spinnerHidden"></ion-spinner>
    </div>

    <div style="text-align:center">
      {{message}}
    </div>

    <ion-list type="card" ng-if="izposoje.length > 0">
      <ion-item ng-repeat="izposoja in izposoje" ng-href="#/app/izposoja/{{izposoja.id}}">
        <h2>{{izposoja.ime}} {{izposoja.priimek}}</h2>
        <div class="item-text-wrap">
          {{izposoja.naziv}}
        </div>
      </ion-item>
    </ion-list>
    {{response}}
  </ion-content>
</ion-view>
