<ion-view view-title="{{view}}">
  <ion-content padding="true">

    <ion-list type="card">
      <div class="item item-input">
        <input type="text" placeholder="Ime" ng-model="fields.ime">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="Priimek" ng-model="fields.priimek">
      </div>
      <div class="item item-input">
        <input type="date" placeholder="Datum izposoje" ng-model="fields.dtIz">
      </div>
      <div class="item item-input">
        <input type="date" placeholder="Načrtovano vračilo" ng-model="fields.dtNa">
      </div>
      <div class="item item-input">
        <input type="date" placeholder="Dejansko vračilo" ng-model="fields.dtDe">
      </div>
    </ion-list>

    <button class="button button-block" ng-click="submit()">
      Shrani
    </button>
  </ion-content>
</ion-view>
