<ion-view view-title="Seznam knjig">
  <ion-content>
    <ion-refresher
      pulling-text="Posodobi..."
      on-refresh="refresh()">
    </ion-refresher>

    <div style="text-align:center">
      <ion-spinner ng-hide="spinnerHidden"></ion-spinner>
    </div>


    <div style="text-align:center">
      {{message}}
    </div>
    <ion-list type="card" ng-if="knjige.length > 0">
      <ion-item ng-repeat="knjiga in knjige" ng-href="#/app/knjiga/{{knjiga.id}}">
        <h2>{{knjiga.naziv}}</h2>
        <div class="item-text-wrap">
          {{knjiga.avtor}}
        </div>
      </ion-item>
    </ion-list>
    {{response}}
  </ion-content>
</ion-view>
