<ion-view view-title="Knjiga">
  <ion-content padding="true">
      <h3>{{naziv}}</h3>
      <h4>{{avtor}}</h4>

      <p>{{opis}}</p>

      <h5>{{status}}</h5>

      <button class="button button-stable button-block" ng-click="izposoja()">Izposoja</button>
      <button class="button button-stable button-block" ng-click="uredi()">Uredi</button>
      <button class="button button-stable button-block" ng-click="delete()">Zbriši</button>
      
      <h4>Izposoje</h4>

      <ion-list type="card">
        <ion-item ng-repeat="izposoja in izposoje" ng-href="#/app/izposoja/{{izposoja.id}}">
          <h2>{{izposoja.ime}} {{izposoja.priimek}}</h2>
          <div class="item-text-wrap">
            {{izposoja.dtDe}}
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
