<ion-view view-title="{{view}}">
  <ion-content padding="true">
    
    <div class="list list-inset">
      <div class="item item-input">
        <input type="text" placeholder="Naziv" ng-model="fields.naziv">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="Avtor" ng-model="fields.avtor">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="Opis" ng-model="fields.opis">
      </div>
    </div>

    <button class="button button-block" ng-click="submit()">
      Shrani
    </button>

    <h5>{{mgs}}</h5>
  </ion-content>
</ion-view>
